<ul class="profile-infos">
	<h4>Er</h4>
	<li>Alter: <%= @profile.age_m %></li>
	<li>Gr&ouml;sse: <%= @profile.height_m %></li>
</ul>
<ul class="profile-infos">
	<h4>Sie</h4>
	<li>Alter: <%= @profile.age_f %></li>
	<li>Gr&ouml;sse: <%= @profile.height_f %></li>
</ul>