<ul class="profile-infos">
	<% if @profile.sex.empty? %>
		<h4>Er/Sie</h4>
	<% end %>
	<% if @profile.sex == "Frau" %>
		<h4>Sie</h4>
		<li>Alter: <%= @profile.age_f %></li>
		<li>Gr&ouml;sse: <%= @profile.height_f %></li>
	<% else %>
		<h4>Er</h4>
		<li>Alter: <%= @profile.age_m %></li>
		<li>Gr&ouml;sse: <%= @profile.height_m %></li>
	<% end %>
	
	
</ul>