.container {
  	width: 1000px;
	background: #4a0200;
}
body {
  	background: #350000;
  	background-image: url('/images/bg.png');
	background-repeat: repeat-x;
	color: #FFFDE4;
}
h4 {
	color: #FFFDE4;
}
header {
  	padding-top: 20px;
	width: 100%;
	float: left;
}
section {
	color: #FFFDE4;
	font-family: 'Georgia', 'Palatino',  serif;
	font-size: 12px;
	font-style: italic;
	line-height: 26px;
  	margin-top: 1em;
  	font-size: 120%;
	padding: 20px;
}
/* Navigation */

nav	{
	background: #5c0200;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	display: block;
}
nav ul {
	margin: 0;
	padding-left: 20px;
}
nav ul li {
	display: inline;
	margin: 0;
	padding-right: 20px;
}
nav ul li a {
	color: #FFFDE4;
}
nav ul li a:hover {
	color: #FFFDE4;
}

footer {
	text-align: center;
	margin-top: 10px;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
}
#top-box {
	height: 130px;
	display: block;
}
#profil-box {
	width: 250px;
	height: 100px;
	float: right;
	background-color: #6f1101;
	padding: 10px;
}
#login-box .string, .password {
	margin-bottom: 5px;
}
.user-navigation li {
	display: inline;
	padding: 0 20px 0 0;
	margin: 0;
}
#profile {
	display: block;
	padding: 0;
	margin: 0;
}
#user-left-box {
	display: block;
	padding: 0;
	margin: 0;
	width: 200px;
	float: left;
}
#user-content-box{
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	width: 500px;
}
#user-content-box table tr th {
	text-align: center;

}
#user-content-box table tr td table tr td {
	border-bottom: 1px solid #5c0200;
}
#user-content-box table th {
	font-weight: normal;
	font-size: 14px;
}
.female-attributes, .male-attributes {
	width: 30%;
}
.attributes {
	width: 30%;
}
.values {
	width: 10%;
}
.categories {
	width: 15%;
	vertical-align: top;
}
#box-right {
	float: right;
	width: 250px;
}
h5 {
	color: #ffd2b5;
}
#wall {
	display: block;
	float: left;
	width: 400px;
}