/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}
form.formtastic fieldset ol li label {
	font-weight: normal;
}
form.formtastic .inputs {
	margin: 0;
	padding: 0;
	padding: 0px;
	margin: 0px;
}
form.formtastic .inputs input {
	font-size: 12px;
	font-style: italic;
	width: 60%;
	background-color: #5d0200;
	border: none;
	color: white;
	padding: 5px 10px 5px 10px;

}
#form-male {
	display: inline;
	width: 49%;
}
#form-male li, #form-female li {
	border-bottom: 1px solid #5d0200;
	padding: 0 0 10px 0;
}
#form-female {
	display: inline;
	width: 50%;
}
#form-common {
	display :block;
	width: 80%;
}