What's on your mind?
	<%= render 'posts/new' %>
<p>
	<% unless @livestream.nil?%>
		<% @livestream.each do |livestream| %>
			<%= livestream_message(livestream.activity, own_wall = true) %>
		<% end %>
	<% end %>
</p>