<% if Connection.connected?(@user, current_user) or current_user?(@user) %>
	<% if current_user?(@user) %>
		What's on your mind?
	<% else %>
		You want to write something on <%= @user.name %>'s wall?
	<% end %>
	<%= render 'posts/new' %>
<% end %>
<%= render 'posts/index' %>
<% unless Connection.connected?(@user, current_user) or current_user?(@user) %>
	<p><small>You have to be friends to write on somebody's wall</small></p>
<% end %>