<% if user_signed_in? %>
	Hallo "<%= current_user.name %>"
	<p><%= current_user.email %></p>
<% else %>
	user is not logged in!
<% end %>
<p>This tells us that the application is running on port number 300014 at the address 0.0.0.0. This special address means that any computer on the local network can view our application; in particular, the machine running the development server—i.e., the local development machine—can view the application using the address localhost:3000.15 We can see the result of visiting http://localhost:3000/ in Figure 1.3.</p>
<%= User.count %>